<?xml version="1.0" encoding="UTF-8"?>
<ae:configurations xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.0" xmlns="http://agavi.org/agavi/config/parts/settings/1.0" xmlns:xi="http://www.w3.org/2001/XInclude">

    <ae:configuration>

        <settings>
            <setting name="app_name">Trackz</setting>
            <setting name="available">true</setting>
            <setting name="debug">false</setting>
        </settings>

        <settings prefix="project.modules.">
            <setting name="sort_order">
                <ae:parameter>Track</ae:parameter>
                <ae:parameter>Artist</ae:parameter>
                <ae:parameter>Category</ae:parameter>
            </setting>
        </settings>
    </ae:configuration>

    <ae:configuration environment="development.*">
        <settings>
            <setting name="debug">true</setting>
        </settings>
    </ae:configuration>
</ae:configurations>
